[alias]
  a = add
  bs = bisect
  br = branch
  c = commit
  co = checkout
  d = diff
  D = difftool
  g = grep
  l = log
  m = merge
  pl = pull
  ps = push
  s = status
  sw = switch
  root = rev-parse --show-toplevel
  reauthor = commit --amend --reset-author --no-edit

[credential]
  helper = cache

[commit]
  gpgsign = true

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only --features=interactive

[delta]
  features = line-numbers decorations
  navigate = true
  syntax-theme = Dracula

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[delta "interactive"]
  keep-plus-minus-markers = true

[diff]
  tool = difftastic
  colorMoved = default

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[merge]
  conflictstyle = diff3

[log]
	date = format-local:%a %Y-%m-%d %H:%M:%S
